@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lobster+Two&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.black {
  background-color: #000;
}

.navbar {
  background-color: #000;
  color: white;
}

.navbar .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.navbar .item li {
  list-style: none;
  margin: 0 13px;
  cursor: pointer;
}

.navbar .item .dash {
  border-bottom: 3px solid burlywood;
}

.feature {
  background-color: #000;
  color: white;
}

.feature h3 {
  font-family: 'Lobster Two', cursive;
}

.feature .each img {
  width: 100%;
}

.feature .each p {
  font-size: 15px;
}

.feature .each span {
  color: #ddd;
}

.more {
  background-image: url(img/img5.jpg);
  height: 500px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.more hr {
  border: 2px solid white;
  width: 5%;
  background-color: white;
}

.more h1 {
  font-size: 75px;
  font-family: 'Lobster Two', cursive;
  margin: 0;
}

.more button {
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  padding: 20px 30px;
  font-weight: 600;
  color: white;
  margin: 30px 0;
}

.more button:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.grid {
  background-color: #000;
  color: white;
}

.grid h4 {
  font-family: cursive;
}

.grid h1 {
  font-family: 'Lobster Two', cursive;
}

.grid .each img {
  width: 100%;
}

.grid .each p {
  font-size: 15px;
}

.grid .each span {
  color: #ddd;
  border-bottom: 2px solid #ddd;
  cursor: pointer;
  padding: 5px;
}

.top {
  background-image: url(img/img1.jpg);
  height: 600px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top hr {
  border: 2px solid white;
  width: 5%;
  background-color: white;
}

.top h1 {
  font-size: 75px;
  font-family: 'Lobster Two', cursive;
  margin: 0;
}

.top button {
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  padding: 30px 40px;
  font-weight: 600;
  color: white;
  margin: 30px 0;
}

.top button:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.update {
  color: white;
}

.update h1 {
  font-size: 55px;
  font-family: 'Lobster Two', cursive;
  margin: 0;
}

.update input {
  background-color: white;
  padding: 10px;
  height: 60px;
  width: 70%;
  border: none;
  outline: none;
}

.update button {
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 30px;
  color: white;
}

.update button:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  background-color: white;
}

.footer .soc svg {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.footer ul {
  padding: 0;
  margin: 0;
}

.footer ul li {
  text-decoration: underline;
  list-style: none;
  margin: 10px;
}

.footer span {
  font-size: 12px;
}

.alldetails {
  color: white;
}

.alldetails img {
  width: 100%;
}

.alldetails .linee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alldetails .linee hr {
  border: 2px solid white;
  width: 30px;
  background-color: white;
}

.overflow {
  overflow: auto;
  height: 92.5vh;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 990px) {
  .navbar .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .more h1 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */