@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster+Two&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.black{
    background-color: #000 ;
}
// font-family: 'Acme', sans-serif;
// font-family: 'Lobster Two', cursive;
.navbar{
    background-color: #000;
    color: white;
    .item{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin: 0 13px;
            cursor: pointer;
        }
        .dash{
            border-bottom: 3px solid burlywood;
        }
    }
}
.feature{
    background-color: #000;
    color: white;
    h3{
        font-family: 'Lobster Two', cursive;
    }
    .each{
        img{
            width: 100%;
        }
        p{
            font-size: 15px;
        }
        span{
            color: #ddd;
        }
    }
}
.more{
    background-image: url(img/img5.jpg);
    height: 500px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    hr{
        border: 2px solid white;
        width: 5%;
        background-color: white;
    }
    h1{
        font-size: 75px;
        font-family: 'Lobster Two', cursive;
        margin: 0;
    }
    button{
        background-color: transparent;
        border: 2px solid white;
        outline: none;
        padding: 20px 30px;
        font-weight: 600;
        color: white;
        margin: 30px 0;
        &:hover{
            background-color: white;
            color: #000;
            cursor: pointer;
            transition: 0.5s;
        }
    }
}
.grid{
    background-color: #000;
    color: white;
    h4{
        font-family: cursive;
    }
    h1{
        font-family: 'Lobster Two', cursive;
    }
    .each{
        img{
            width: 100%;
        }
        p{
            font-size: 15px;
        }
        span{
            color: #ddd;
            border-bottom: 2px solid #ddd;
            cursor: pointer;
            padding: 5px;
        }
    }
}
.top{
    background-image: url(img/img1.jpg);
    height: 600px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    hr{
        border: 2px solid white;
        width: 5%;
        background-color: white;
    }
    h1{
        font-size: 75px;
        font-family: 'Lobster Two', cursive;
        margin: 0;
    }
    button{
        background-color: transparent;
        border: 2px solid white;
        outline: none;
        padding: 30px 40px;
        font-weight: 600;
        color: white;
        margin: 30px 0;
        &:hover{
            background-color: white;
            color: #000;
            cursor: pointer;
            transition: 0.5s;
        }
    }
}
.update{
    color: white;
    h1{
        font-size: 55px;
        font-family: 'Lobster Two', cursive;
        margin: 0;
    }
    input{
        background-color: white;
        padding: 10px;
        height: 60px;
        width: 70%;
        border: none;
        outline: none;
    }
    button{
        background-color: transparent;
        border: 2px solid white;
        padding: 15px 30px;
        color: white;
        &:hover{
            background-color: white;
            color: #000;
            cursor: pointer;
            transition: 0.5s;
        }
    }
}

@media only screen and (max-width: 990px) {
    .navbar{
        .item{
            display: flex;
            flex-direction: column !important;
        }
    }
    .more{
        h1{
            font-size: 40px;
        }
    }
  }