@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #000;
    color: white;
    .item{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin: 0 13px;
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 990px) {
    .navbar{
        .item{
            display: flex;
            flex-direction: column !important;
        }
    }
  }